@model tblEmployee

@{
    ViewData["Title"] = "UpdateEmployeeData";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Update Employee Data</h2>
        </div>
    </div>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="c_empid">

        <div class="form-group">
            <label asp-for="c_empname" class="control-label">Employee Name</label>
            <input asp-for="c_empname" class="form-control" value="@Model.c_empname" />
            <span asp-validation-for="c_empname" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="c_empgender" class="control-label">Gender</label><br>
            <div>
                <input type="radio" asp-for="c_empgender" value="Male" checked="@(Model.c_empgender == "Male")" /> Male
                <input type="radio" asp-for="c_empgender" value="Female" checked="@(Model.c_empgender == "Female")" /> Female
                <input type="radio" asp-for="c_empgender" value="Other" checked="@(Model.c_empgender == "Other")" /> Other
            </div>
            <span asp-validation-for="c_empgender" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="c_empdob" class="control-label">Employee DOB</label>
            <input asp-for="c_empdob" type="date" class="form-control" value="@Model.c_empdob.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="c_empdob" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="c_empshift" class="control-label">Shift</label><br>
            @foreach (var lang in new List<string> { "Morning", "Afternoon" })
            {
                <div class="form-check form-check-inline">
                    <input type="checkbox" name="c_empshift" value="@lang" @(Model.c_empshift.Contains(lang) ? "checked" : "") class="form-check-input" />
                    <label class="form-check-label">@lang</label>
                </div>
            }
            <span asp-validation-for="c_empshift" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="c_empdepartment" class="control-label">Department</label>
            <select asp-for="c_empdepartment" class="form-control" required>
                <option value="">Select Category</option>
                <option value="stationary">Sales</option>
                <option value="mobile">Marketing</option>
                <option value="electronics">Human Resources</option>
            </select>
            <span asp-validation-for="c_empdepartment" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="c_empimg" class="control-label">Photo</label><br>
            <div class="custom-file">
                <input type="file" asp-for="c_empimg" class="custom-file-input" name="fileInput" id="fileInput" />
                <label class="custom-file-label" for="fileInput">@Model.c_empimg</label>
            </div>
            <span asp-validation-for="c_empimg" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">Update Employee</button>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        document.getElementById('fileInput').addEventListener('change', function () {
            var fileName = this.value.split('\\').pop();
            document.querySelector('.custom-file-label[for="fileInput"]').innerText = fileName;
        });
    </script>
}
