@model IEnumerable<mvc.Models.tblEmployee>

@{
    ViewBag.Title = "Index";
                    var role  = Context.Session.GetString("role");  
                    var username = Context.Session.GetString("username");            

}

<h2>Employee List Admin</h2>

<p>
    @Html.ActionLink("Add Employee", "Add", "KendoComponentEmployee", null, new { @class = "btn btn-primary" })&nbsp;<button class="btn btn-primary" onclick="logout()">Logout</button>
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Shift</th>
                <th>Image</th>
                <th>Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.c_empid</td>
                    <td>@item.c_empname</td>
                    <td>@item.c_empgender</td>
                    <td>@item.c_empdob.ToShortDateString()</td>
                    <td>@string.Join(", ", item.c_empshift)</td>
                    <td><img src="@Url.Content("~/uploads/" + item.c_empimg)" alt="Employee Image" style="max-width: 100px;" /></td>
                    <td>@item.c_empdepartment</td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.c_empid }, new { @class = "btn btn-info btn-sm" })
                        @if (role == "Admin"){
                                                   @Html.ActionLink("Edit", "Edit", new { id = item.c_empid }, new { @class = "btn btn-primary btn-sm" })

                                                <button class="btn btn-danger btn-sm delete-btn" data-empid="@item.c_empid">Delete</button>

                        }
                    </td>
                     
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".delete-btn").click(function () {
                var empId = $(this).data("empid");
                if (confirm("Are you sure you want to delete this employee?")) {
                    $.ajax({
                        url: "/KendoComponentEmployee/Delete/" + empId,
                        type: "POST",
                        success: function (result) {
                            location.reload();
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr.responseText);
                            alert("An error occurred while deleting the employee.");
                        }
                    });
                }
            });
        });


        function logout() {
        window.location.href = '@Url.Action("Login", "KendoComponentUser")';
        }
    </script>
}



