@model mvc.Models.tblEmployee

@{
    @* ViewBag.Title = "Details"; *@
}

<h2>Employee Details</h2>

<div>
    <h4>Employee ID: @Model.c_empid</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.c_empname
        </dd>
        <dt class="col-sm-2">
            Gender
        </dt>
        <dd class="col-sm-10">
            @Model.c_empgender
        </dd>
        <dt class="col-sm-2">
            Date of Birth
        </dt>
        <dd class="col-sm-10">
            @Model.c_empdob.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Shift
        </dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.c_empshift)
        </dd>
        <dt class="col-sm-2">
            Department
        </dt>
        <dd class="col-sm-10">
            @Model.c_empdepartment
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content("~/uploads/" + Model.c_empimg)" alt="Employee Image" style="max-width: 100px;" />
        </dd>
        <!-- Add other properties here -->
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
